<div>
    <div data-dojo-attach-point="descriptionNode" style="width: 100%; height: 100%;"></div>
    <form data-dojo-attach-point="searchform">
				<div data-dojo-attach-point="fieldsNode"></div>
				<button type="button"  data-dojo-attach-point="submitMeButton" class = "submitMe">Search</button>
    </form>
    <div data-dojo-attach-point="contentNode" style="width: 100%; height: 100%;">
    <br>
		<div dojoAttachPoint="displayTextNode" style="width: 100%; height: 100%;"></div>
	</div>
</div>

